:root {
    --clr-neutral-100: hsl(36, 100%, 99%);
    --clr-neutral-200: hsl(233, 8%, 79%);
    --clr-neutral-600: hsl(236, 13%, 42%);
    --clr-neutral-900: hsl(240, 100%, 5%);

    --clr-accent-1: hsl(35, 77%, 62%);
    --clr-accent-2: hsl(5, 85%, 63%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Inter', sans-serif;
}


@media only screen and (max-width: 375px) {
    body {
        padding: 1em;
    }
}
