:root {
    --clr-neutral-100: hsl(36, 100%, 99%);
    --clr-neutral-200: hsl(233, 8%, 79%);
    --clr-neutral-600: hsl(236, 13%, 42%);
    --clr-neutral-900: hsl(240, 100%, 5%);

    --clr-accent-1: hsl(35, 77%, 62%);
    --clr-accent-2: hsl(5, 85%, 63%);

    --body-spacing: 2em;
    --body-padding-inline-desktop: 11.5vw;
    --body-padding-inline-mobile: 2em;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}

html {
    font-size: 0.95rem;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--clr-neutral-100);
    display: grid;
    align-items: center;
    padding-block: var(--body-spacing);
    gap: var(--body-spacing);
    min-height: 100vh;
}

p {
    color: var(--clr-neutral-600);
    line-height: 1.7em;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    grid-area: header;
}

.sidebar {
    grid-area: right;
}

.bottom {
    grid-area: bottom;
}

nav {
    grid-area: nav;
}

nav img {
    max-height: 100%;
}

@media only screen and (max-width: 769px) {
    body {
        padding-inline: var(--body-padding-inline-mobile);
        grid-template-areas:
            "nav"
            "header"
            "right"
            "bottom";
    }
}

@media only screen and (min-width: 770px) {
    body {
        padding-inline: var(--body-padding-inline-desktop);
        

        grid-template-areas:
            "nav    nav"
            "header right"
            "bottom bottom";
        grid-template-columns: 2fr 1fr;
    }
}
