nav {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-areas: "logo spacer navlist";
    grid-template-columns: max-content auto max-content;
}

.logo {
    grid-area: logo;
    display: grid;
    place-items: center;
}

.nav-list {
    grid-area: navlist;
}

.nav-list a {
    color: var(--clr-neutral-600);
}

.nav-list a:hover {
    color: var(--clr-accent-2);
}

#nav-ul-checkbox {
    display: none;
}

.menu-icon {
    cursor: pointer;
    position: relative;
    z-index: 100;
}

@media only screen and (max-width: 420px) {
    .menu-icon-close {
        display: none;
    }

    :checked + label .menu-icon-normal {
        display: none;
    }

    :checked + label .menu-icon-close {
        display: inline;
    }

    .nav-list ul {
        display: none;
    }

    .nav-list input:checked ~ ul {
        background-color: var(--clr-neutral-100);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 30%;
        right: 0;
        display: flex;
        flex-direction: column;
        padding-block-start: 8.15em;
    }

    .nav-list li {
        padding-block: 0.85em;
        padding-inline: 1.5em;
    }

    .nav-list ul::before {
        content: "";
        width: calc(((30% / 70) * 100));
        height: 100%;

        position: absolute;
        right: 100%;
        top: 0;
        background-color: hsla(255deg, 255%, 0%, 0.4);
    }
}

@media only screen and (min-width: 421px) {
    .menu-icon {
        display: none;
    }

    .nav-list ul {
        display: flex;
        justify-content: space-between;
        gap: min(
            2em,
            calc((100vw - var(--body-padding-inline-desktop)) * 0.05 / 2)
        );
    }
}
