nav {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-template-areas: 'logo spacer navlist';
    grid-template-columns: max-content auto max-content;
}

.logo {
    grid-area: logo;
}

.nav-list {
    grid-area: navlist;
}

.nav-list ul {

    display: none;
}

#nav-ul-checkbox {
    display: none;
}

.menu-icon {
    position: relative;
    z-index: 100;
}


@media only screen and (max-width: 375px) {
    
    .menu-icon-close {
        display: none;
    }
    
    :checked + label .menu-icon-normal {
        display: none;
    }
    
    :checked + label .menu-icon-close {
        display: inline;
    }

    input:checked ~ ul {
        background-color: aqua;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 30%;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 375px) {
    .menu-icon {
        display: none;
    }
}